<a href="https://colab.research.google.com/github/vigneshlakshh/vigneshlakshh/blob/main/FINALGPT3%20version1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import sqlite3

In [6]:
conn=sqlite3.connect("test.db")

**TABLE CREATION AND INSERTION**

**Table: students**
This table stores information about students.

In [7]:
conn.execute('''
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL
);


'''
)
conn.commit()
print("students TABLE CREATED");

students TABLE CREATED

In [8]:
conn.execute("INSERT INTO students (student_id, first_name, last_name, email) VALUES (1, 'John', 'Doe', 'john.doe@example.com'),(2, 'Jane', 'Doe', 'jane.doe@example.com'),(3, 'Bob', 'Smith', 'bob.smith@example.com'),(4, 'Alice', 'Johnson', 'alice.johnson@example.com'),(5, 'Tom', 'Wilson', 'tom.wilson@example.com');")
conn.commit()

**Table: courses**
This table stores information about courses.

In [9]:
conn.execute('''
CREATE TABLE courses (
    course_id INT PRIMARY KEY,
    course_name VARCHAR(100) NOT NULL,
    instructor_name VARCHAR(100) NOT NULL
);


'''
)
conn.commit()
print(" courses TABLE CREATED");

 courses TABLE CREATED

In [10]:
conn.execute(" INSERT INTO courses (course_id, course_name, instructor_name) VALUES (1, 'Introduction to Programming', 'Dr. Smith'),(2, 'Database Management', 'Dr. Johnson'),(3, 'Web Development', 'Dr. Lee'),(4, 'Data Structures and Algorithms', 'Dr. Wang'),(5, 'Artificial Intelligence', 'Dr. Kim');")
conn.commit()

**Table: enrollments**
This table stores information about which students are enrolled in which courses.

In [11]:
conn.execute('''
CREATE TABLE enrollments (
    enrollment_id INT PRIMARY KEY,
    student_id INT NOT NULL,
    course_id INT NOT NULL,
    enrollment_date DATE NOT NULL,
    FOREIGN KEY (student_id) REFERENCES students(student_id),
    FOREIGN KEY (course_id) REFERENCES courses(course_id)
);


'''
)
conn.commit()
print(" enrollments TABLE CREATED");

 enrollments TABLE CREATED

In [12]:
conn.execute(''' INSERT INTO enrollments (enrollment_id, student_id, course_id, enrollment_date) 
VALUES 
(1, 1, 1, '2022-01-01'),
(2, 2, 1, '2022-01-01'),
(3, 3, 2, '2022-01-15'),
(4, 4, 3, '2022-01-15'),
(5, 5, 4, '2022-02-01');
 ''')
conn.commit()

**Table: grades**
This table stores information about grades that students receive in courses.

In [13]:
conn.execute('''
CREATE TABLE grades (
    grade_id INT PRIMARY KEY,
    enrollment_id INT NOT NULL,
    grade FLOAT NOT NULL,
    FOREIGN KEY (enrollment_id) REFERENCES enrollments(enrollment_id)
);


'''
)
conn.commit()
print("grades TABLE CREATED");

grades TABLE CREATED

In [14]:
conn.execute('''INSERT INTO grades (grade_id, enrollment_id, grade) 
VALUES 
(1, 1, 3.7),
(2, 2, 4.0),
(3, 3, 3.0),
(4, 4, 3.5),
(5, 5, 3.9);
 ''')
conn.commit()

**DISPLAYING TABLES**

In [15]:
cursor=conn.execute('''select * from students;''')
for row in cursor:
  print(row)

(1, 'John', 'Doe', 'john.doe@example.com')
(2, 'Jane', 'Doe', 'jane.doe@example.com')
(3, 'Bob', 'Smith', 'bob.smith@example.com')
(4, 'Alice', 'Johnson', 'alice.johnson@example.com')
(5, 'Tom', 'Wilson', 'tom.wilson@example.com')

In [16]:
cursor=conn.execute('''select * from courses;''')
for row in cursor:
  print(row)

(1, 'Introduction to Programming', 'Dr. Smith')
(2, 'Database Management', 'Dr. Johnson')
(3, 'Web Development', 'Dr. Lee')
(4, 'Data Structures and Algorithms', 'Dr. Wang')
(5, 'Artificial Intelligence', 'Dr. Kim')

In [17]:
cursor=conn.execute('''select * from enrollments;''')
for row in cursor:
  print(row)

(1, 1, 1, '2022-01-01')
(2, 2, 1, '2022-01-01')
(3, 3, 2, '2022-01-15')
(4, 4, 3, '2022-01-15')
(5, 5, 4, '2022-02-01')

In [18]:
cursor=conn.execute('''select * from grades;''')
for row in cursor:
  print(row)

(1, 1, 3.7)
(2, 2, 4.0)
(3, 3, 3.0)
(4, 4, 3.5)
(5, 5, 3.9)

**GPT3 MODEL**

In [19]:
!pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.26.5.tar.gz (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.5/55.5 KB 5.5 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from openai) (4.64.1)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.8/dist-packages (from openai) (2.25.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.8/dist-packages (from openai) (3.8.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.8.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.3.1)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (3.0.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (22.2.0)
Building wheels for collected packages: openai
  Building wheel for openai (pyproject.toml) ... done
  Created wheel for openai: filename=openai-0.26.5-py3-none-any.whl size=67620 sha256=5b0cc4c6c2ef844439a6ca6ab1d416cff11dbde40b87190f07bf344ae89c38fc
  Stored in directory: /root/.cache/pip/wheels/a7/47/99/8273a59fbd59c303e8ff175416d5c1c9c03a2e83ebf7525a99
Successfully built openai
Installing collected packages: openai
Successfully installed openai-0.26.5

In [20]:
import json
import openai

In [21]:
openai.api_key = "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"

In [23]:
from gpt import GPT
from gpt import Example

In [24]:
gpt = GPT(engine="davinci",temperature=0.5,max_tokens=100) #creating instance

gpt.add_example(Example('Fetch unique values of DEPARTMENT from Worker table.', 
                        'Select distinct DEPARTMENT from Worker;'))

**TRAINING**

**1) SELECT**

In [25]:
gpt.add_example(Example('display all the student records', 'Select * from students;'))

In [26]:
gpt.add_example(Example('display name and email from student table', 'Select first_name,email from students;'))

**2) WHERE CLAUSE**

In [27]:
gpt.add_example(Example('display enrollment id whose grade is >2.0', 'select enrollment_id from grades where grade >2;'))

In [29]:
gpt.add_example(Example('Retrieve all courses taught by a specific instructor e.g. instructor_name Dr. Smith', "SELECT * FROM courses WHERE instructor_name = 'Dr. Smith';"))

In [30]:
gpt.add_example(Example(" Retrieve all enrollments for a  student_id 2", " SELECT * FROM enrollments WHERE student_id = 2;"))

**3) DISTINCT CLAUSE**

In [31]:
gpt.add_example(Example("Retrieve all unique instructor names ", " SELECT DISTINCT instructor_name FROM courses;"))

In [32]:
gpt.add_example(Example("Retrieve all unique course names and instructor names ", "SELECT DISTINCT course_name, instructor_name FROM courses; "))

In [33]:
gpt.add_example(Example("Retrieve all unique enrollment IDs for a specific student ", "SELECT DISTINCT enrollment_id FROM enrollments WHERE student_id = 2; "))

**WILD CARD SEARCH- LIKE**

In [34]:
gpt.add_example(Example("Retrieve all students whose last name starts with S", " SELECT * FROM students WHERE last_name LIKE 'S%';"))

In [35]:
gpt.add_example(Example("Retrieve all courses whose name contains the word 'programming ", " SELECT * FROM courses WHERE course_name LIKE '%programming%';"))

In [36]:
gpt.add_example(Example("Retrieve all students whose email address ends with '@example.com' ", " SELECT * FROM students WHERE email LIKE '%@example.com';"))

In [37]:
gpt.add_example(Example(" Retrieve all enrollments that were created in the month of January", "SELECT * FROM enrollments WHERE enrollment_date LIKE '%-01-%'; "))

**5) NULL VALUES**

In [42]:
gpt.add_example(Example("Retrieve all students who don't have a phone number ", " SELECT * FROM students WHERE phone_number IS NULL;"))

In [43]:
gpt.add_example(Example("Retrieve all enrollments that don't have a grade assigned ", " SELECT * FROM enrollments WHERE enrollment_id NOT IN (SELECT enrollment_id FROM grades);"))

In [44]:
gpt.add_example(Example("Display all students who don't have an address or a phone number ", " SELECT * FROM students WHERE address IS NULL AND phone_number IS NULL;"))

**6) AND OR IN BETWEEN OPERATORS**

In [45]:
gpt.add_example(Example(" all courses that have a maximum capacity of 20 or are taught by instructor 'Dr. Smith", " SELECT * FROM courses WHERE max_capacity = 20 OR instructor_name = 'Dr. Smith';"))

In [46]:
gpt.add_example(Example("show all courses that have a course_id of 1, 3, or 5:", "SELECT * FROM courses WHERE course_id IN (1, 3, 5); "))

In [47]:
gpt.add_example(Example("get all grades for a specific enrollment (e.g. enrollment_id 4) and grade is between 70 and 90: ", "SELECT * FROM grades WHERE enrollment_id = 4 AND grade BETWEEN 70 AND 90; "))

**7) ORDER BY**

In [49]:
gpt.add_example(Example(" fetch all students in alphabetical by their last name", "SELECT * FROM students ORDER BY last_name ASC; "))

In [48]:
gpt.add_example(Example("sort grades by high to low ", " SELECT * FROM grades ORDER BY grade DESC;"))

In [50]:
gpt.add_example(Example("Retrieve all courses in alphabetical order by their course name, and then by their instructor name","SELECT * FROM courses ORDER BY course_name ASC, instructor_name ASC;"))

**8) LIMIT**

In [51]:
gpt.add_example(Example("show me top 5 grades  ", " SELECT * FROM grades ORDER BY grade DESC LIMIT 5;"))

In [62]:
gpt.add_example(Example("display latest 10 enrollments in chronological order  ", "SELECT * FROM enrollments ORDER BY enrollment_date ASC LIMIT 10; "))

**9) OFFSET**

In [63]:
gpt.add_example(Example(" Retrieve the enrollments with the first 10 rows skipped", "SELECT * FROM enrollments WHERE enrollment_date BETWEEN '2022-01-01' AND '2022-12-31'ORDER BY enrollment_date ASC OFFSET 10; "))

**10) MIN MAX AVG TOP SUM ALIAS**

In [65]:
gpt.add_example(Example("what is average grade for each course ", " SELECT course_id, AVG(grade) AS avg_grade FROM grades GROUP BY course_id;"))

In [64]:
gpt.add_example(Example("display minimum and maximum grade values for each student ", " SELECT student_id, MIN(grade) AS min_grade, MAX(grade) AS max_grade FROM grades GROUP BY student_id;"))

In [66]:
gpt.add_example(Example(" top 5 students with the highest average grade ", " SELECT TOP 5 student_id, AVG(grade) AS avg_grade FROM grades GROUP BY student_id ORDER BY AVG(grade) DESC;"))

In [67]:
gpt.add_example(Example("get the  2 courses with the highest enrollment ", "SELECT TOP 2 course_id, course_name, max_capacity FROM courses ORDER BY max_capacity DESC; "))

**11) GROUP BY**

In [68]:
gpt.add_example(Example(" number of students enrolled in each course", " SELECT course_id, COUNT(*) AS enrollment_count FROM enrollments GROUP BY course_id;"))

In [69]:
gpt.add_example(Example("number of courses taken by each student ", "SELECT student_id, COUNT(*) AS course_count FROM enrollments GROUP BY student_id; "))

**12) JOINS- INNER,LEFT,RIGHT,FULL**

In [70]:
gpt.add_example(Example(" get all students and their corresponding grades ", ''' SELECT students.student_id, students.first_name, students.last_name, grades.grade
FROM students
LEFT JOIN grades ON students.student_id = grades.student_id;
'''))

In [71]:
gpt.add_example(Example("display all enrollments along with the corresponding student and course information ",  ''' SELECT enrollments.enrollment_id, students.first_name, students.last_name, courses.course_name
FROM enrollments
JOIN students ON enrollments.student_id = students.student_id
JOIN courses ON enrollments.course_id = courses.course_id;
  '''))

**13) CASE STATEMENT**

In [72]:
gpt.add_example(Example(" all students along with a column indicating whether they have a grade or not ", '''SELECT student_id, first_name, last_name,
    CASE
        WHEN EXISTS (SELECT * FROM grades WHERE grades.student_id = students.student_id)
        THEN 'Yes'
        ELSE 'No'
    END AS has_grade
FROM students;
 '''))

In [ ]:
gpt.add_example(Example(" ", " "))

In [ ]:
gpt.add_example(Example(" ", " "))

In [ ]:
gpt.add_example(Example(" ", " "))

In [ ]:
gpt.add_example(Example(" ", " "))

In [ ]:
gpt.add_example(Example(" ", " "))

In [ ]:
gpt.add_example(Example(" ", " "))

In [ ]:
gpt.add_example(Example(" ", " "))

In [ ]:
gpt.add_example(Example(" ", " "))

In [ ]:
gpt.add_example(Example(" ", " "))

In [ ]:
gpt.add_example(Example(" ", " "))

In [ ]:
gpt.add_example(Example(" ", " "))

In [ ]:
gpt.add_example(Example(" ", " "))

In [ ]:
gpt.add_example(Example(" ", " "))

In [ ]:
gpt.add_example(Example(" ", " "))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

**TESTING**

In [60]:
prompt="show all courses whose name contains the word 'management': "

In [61]:
print(gpt.get_top_reply(prompt))

output:  SELECT * FROM courses WHERE course_name LIKE '%management%';

In [55]:
prompt="display all students whose first name contains the letter 'a' and last name contains the letter 's'"

In [56]:
print(gpt.get_top_reply(prompt))

output:  SELECT * FROM students WHERE first_name LIKE '%a%' AND last_name LIKE '%s%';

In [58]:
prompt="get the top 3 courses in descending order by their maximum capacity"

In [54]:
print(gpt.get_top_reply(prompt))

output: SELECT * FROM courses ORDER BY max_capacity DESC LIMIT 3;
output:

In [73]:
prompt=" which enrollment has highest grade"

In [74]:
print(gpt.get_top_reply(prompt))

output:  SELECT enrollment_id, max_grade FROM grades
GROUP BY enrollment_id
HAVING SUM(grade) > (SELECT AVG(grade) FROM grades)
output:
SELECT enrollment_id, max_grade FROM grades
GROUP BY enrollment_id
HAVING SUM(grade) > (SELECT AVG(grade) FROM grades)

In [ ]:
prompt=" "

In [ ]:
print(gpt.get_top_reply(prompt))

In [ ]:
prompt=" "

In [ ]:
print(gpt.get_top_reply(prompt))

In [ ]:
prompt=" "

In [ ]:
print(gpt.get_top_reply(prompt))

In [ ]:
prompt=" "

In [ ]:
print(gpt.get_top_reply(prompt))

In [ ]:
cursor=conn.execute('''               ''')
for row in cursor:
  print(row)

In [ ]:
cursor=conn.execute('''               ''')
for row in cursor:
  print(row)

In [ ]:
cursor=conn.execute('''               ''')
for row in cursor:
  print(row)

In [ ]:
cursor=conn.execute('''               ''')
for row in cursor:
  print(row)

In [ ]:
cursor=conn.execute('''               ''')
for row in cursor:
  print(row)