<a href="https://colab.research.google.com/github/vigneshlakshh/vigneshlakshh/blob/main/MoviesGPT3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import sqlite3

In [32]:
conn=sqlite3.connect("imdb.db")

**TABLE CREATION AND INSERTION**

**Table: movies**

In [33]:
conn.execute('''
CREATE TABLE movies (
  movie_id INTEGER PRIMARY KEY,
  title TEXT NOT NULL,
  industry TEXT NOT NULL,
  release_year INTEGER NOT NULL,
  imdb_rating REAL,
  studio TEXT,
  language_id INTEGER,
  FOREIGN KEY (language_id) REFERENCES languages(language_id)
);

'''
)
conn.commit()
print("Movies TABLE CREATED");

Movies TABLE CREATED

In [34]:
conn.execute('''INSERT INTO movies (movie_id, title, industry, release_year, imdb_rating, studio, language_id)
VALUES 
(101, 'K.G.F: Chapter 2', 'Bollywood', 2022, 8.4, 'Hombale Films', 3),
(102, 'Doctor Strange in the Multiverse of Madness', 'Hollywood', 2022, 7, 'Marvel Studios', 5),
(103, 'Thor: The Dark World', 'Hollywood', 2013, 6.8, 'Marvel Studios', 5),
(104, 'Thor: Ragnarok', 'Hollywood', 2017, 7.9, 'Marvel Studios', 5),
(105, 'Thor: Love and Thunder', 'Hollywood', 2022, 6.8, 'Marvel Studios', 5),
(106, 'Sholay', 'Bollywood', 1975, 8.1, 'United Producers', 1),
(107, 'Dilwale Dulhania Le Jayenge', 'Bollywood', 1995, 8, 'Yash Raj Films', 1),
(108, '3 Idiots', 'Bollywood', 2009, 8.4, 'Vinod Chopra Films', 1),
(109, 'Kabhi Khushi Kabhie Gham', 'Bollywood', 2001, 7.4, 'Dharma Productions', 1),
(110, 'Bajirao Mastani', 'Bollywood', 2015, 7.2, NULL, 1),
(111, 'The Shawshank Redemption', 'Hollywood', 1994, 9.3, 'Castle Rock Entertainment', 5),
(112, 'Inception', 'Hollywood', 2010, 8.8, 'Warner Bros. Pictures', 5),
(113, 'Interstellar', 'Hollywood', 2014, 8.6, 'Warner Bros. Pictures', 5),
(115, 'The Pursuit of Happyness', 'Hollywood', 2006, 8, 'Columbia Pictures', 5),
(116, 'Gladiator', 'Hollywood', 2000, 8.5, 'Universal Pictures', 5),
(117, 'Titanic', 'Hollywood', 1997, 7.9, 'Paramount Pictures', 5),
(118, 'It''s a Wonderful Life', 'Hollywood', 1946, 8.6, 'Liberty Films', 5),
(119, 'Avatar', 'Hollywood', 2009, 7.8, '20th Century Fox', 5),
(120, 'The Godfather', 'Hollywood', 1972, 9.2, 'Paramount Pictures', 5);
'''
)

conn.commit()

**Table: financials**

In [41]:
conn.execute('''
CREATE TABLE financials (
    movie_id INTEGER REFERENCES movies(movie_id),
    budget FLOAT,
    revenue FLOAT,
    unit VARCHAR(20),
    currency VARCHAR(20)
);


'''
)
conn.commit()
print(" financials TABLE CREATED");

 financials TABLE CREATED

In [42]:
conn.execute('''INSERT INTO financials (movie_id, budget, revenue, unit, currency)
VALUES
    (101, 1, 12.5, 'Billions', 'INR'),
    (102, 200, 954.8, 'Millions', 'USD'),
    (103, 165, 644.8, 'Millions', 'USD'),
    (104, 180, 854, 'Millions', 'USD'),
    (105, 250, 670, 'Millions', 'USD'),
    (107, 400, 2000, 'Millions', 'INR'),
    (108, 550, 4000, 'Millions', 'INR'),
    (109, 390, 1360, 'Millions', 'INR'),
    (110, 1.4, 3.5, 'Billions', 'INR'),
    (111, 25, 73.3, 'Millions', 'USD'),
    (113, 165, 701.8, 'Millions', 'USD'),
    (114, 205, 365.3, 'Millions', 'USD'),
    (115, 55, 307.1, 'Millions', 'USD'),
    (116, 103, 460.5, 'Millions', 'USD'),
    (117, 200, 2202, 'Millions', 'USD'),
    (118, 3.18, 3.3, 'Millions', 'USD'),
    (119, 237, 2847, 'Millions', 'USD'),
    (120, 7.2, 291, 'Millions', 'USD');     
    '''
    )

conn.commit()

**Table: actors**

In [35]:
conn.execute('''
CREATE TABLE actors (
  actor_id INT PRIMARY KEY,
  name VARCHAR(255),
  birth_year INT
);

'''
)
conn.commit()
print(" actors TABLE CREATED");

 actors TABLE CREATED

In [36]:
conn.execute('''INSERT INTO actors (actor_id, name, birth_year) VALUES
(50, 'Yash', 1986),
(51, 'Sanjay Dutt', 1959),
(52, 'Benedict Cumberbatch', 1976),
(53, 'Elizabeth Olsen', 1989),
(54, 'Chris Hemsworth', 1983),
(55, 'Natalie Portman', 1981),
(56, 'Tom Hiddleston', 1981),
(57, 'Amitabh Bachchan', 1942),
(58, 'Jaya Bachchan', 1948),
(59, 'Shah Rukh Khan', 1965),
(60, 'Kajol', 1974),
(61, 'Aamir Khan', 1965),
(62, 'R. Madhavan', 1970),
(63, 'Sharman Joshi', 1979),
(64, 'Hrithik Roshan', 1974),
(65, 'Ranveer Singh', 1985),
(66, 'Deepika Padukone', 1986),
(67, 'Tim Robbins', 1958),
(68, 'Morgan Freeman', 1937),
(69, 'Leonardo DiCaprio', 1974),
(70, 'Ken Watanabe', 1959); 
 ''')
conn.commit()

**Table: movie_actor**

In [37]:
conn.execute('''
CREATE TABLE movie_actor (
  movie_id INT,
  actor_id INT,
  FOREIGN KEY (movie_id) REFERENCES movies(movie_id),
  FOREIGN KEY (actor_id) REFERENCES actors(actor_id)
);

'''
)
conn.commit()
print("movie_actor TABLE CREATED");

movie_actor TABLE CREATED

In [38]:
conn.execute('''
INSERT INTO movie_actor (movie_id, actor_id) VALUES
(101, 50),
(101, 51),
(102, 52),
(102, 53),
(103, 54),
(103, 55),
(103, 56),
(104, 54),
(104, 56),
(105, 54),
(105, 55),
(106, 57),
(106, 58),
(107, 59),
(107, 60),
(108, 61),
(108, 62),
(108, 63),
(109, 59),
(109, 57),
(109, 64),
(110, 65),
(110, 66),
(111, 67),
(111, 68),
(112, 69),
(112, 70);

 ''')
conn.commit()

**Table:languages**

In [39]:
conn.execute('''
CREATE TABLE languages (
  language_id INT PRIMARY KEY,
  name VARCHAR(50)
);




'''
)
conn.commit()
print("languages TABLE CREATED");

languages TABLE CREATED

In [40]:
conn.execute('''INSERT INTO languages (language_id, name)
VALUES
  (1, 'Hindi'),
  (2, 'Telugu'),
  (3, 'Kannada'),
  (4, 'Tamil'),
  (5, 'English'),
  (6, 'French'),
  (7, 'Bengali'),
  (8, 'Gujarati');


 ''')
conn.commit()

**DISPLAYING TABLES**

In [43]:
cursor=conn.execute('''select * from movies;''')
for row in cursor:
  print(row)

(101, 'K.G.F: Chapter 2', 'Bollywood', 2022, 8.4, 'Hombale Films', 3)
(102, 'Doctor Strange in the Multiverse of Madness', 'Hollywood', 2022, 7.0, 'Marvel Studios', 5)
(103, 'Thor: The Dark World', 'Hollywood', 2013, 6.8, 'Marvel Studios', 5)
(104, 'Thor: Ragnarok', 'Hollywood', 2017, 7.9, 'Marvel Studios', 5)
(105, 'Thor: Love and Thunder', 'Hollywood', 2022, 6.8, 'Marvel Studios', 5)
(106, 'Sholay', 'Bollywood', 1975, 8.1, 'United Producers', 1)
(107, 'Dilwale Dulhania Le Jayenge', 'Bollywood', 1995, 8.0, 'Yash Raj Films', 1)
(108, '3 Idiots', 'Bollywood', 2009, 8.4, 'Vinod Chopra Films', 1)
(109, 'Kabhi Khushi Kabhie Gham', 'Bollywood', 2001, 7.4, 'Dharma Productions', 1)
(110, 'Bajirao Mastani', 'Bollywood', 2015, 7.2, None, 1)
(111, 'The Shawshank Redemption', 'Hollywood', 1994, 9.3, 'Castle Rock Entertainment', 5)
(112, 'Inception', 'Hollywood', 2010, 8.8, 'Warner Bros. Pictures', 5)
(113, 'Interstellar', 'Hollywood', 2014, 8.6, 'Warner Bros. Pictures', 5)
(115, 'The Pursuit of Happyness', 'Hollywood', 2006, 8.0, 'Columbia Pictures', 5)
(116, 'Gladiator', 'Hollywood', 2000, 8.5, 'Universal Pictures', 5)
(117, 'Titanic', 'Hollywood', 1997, 7.9, 'Paramount Pictures', 5)
(118, "It's a Wonderful Life", 'Hollywood', 1946, 8.6, 'Liberty Films', 5)
(119, 'Avatar', 'Hollywood', 2009, 7.8, '20th Century Fox', 5)
(120, 'The Godfather', 'Hollywood', 1972, 9.2, 'Paramount Pictures', 5)

In [44]:
cursor=conn.execute('''select * from financials;''')
for row in cursor:
  print(row)

(101, 1.0, 12.5, 'Billions', 'INR')
(102, 200.0, 954.8, 'Millions', 'USD')
(103, 165.0, 644.8, 'Millions', 'USD')
(104, 180.0, 854.0, 'Millions', 'USD')
(105, 250.0, 670.0, 'Millions', 'USD')
(107, 400.0, 2000.0, 'Millions', 'INR')
(108, 550.0, 4000.0, 'Millions', 'INR')
(109, 390.0, 1360.0, 'Millions', 'INR')
(110, 1.4, 3.5, 'Billions', 'INR')
(111, 25.0, 73.3, 'Millions', 'USD')
(113, 165.0, 701.8, 'Millions', 'USD')
(114, 205.0, 365.3, 'Millions', 'USD')
(115, 55.0, 307.1, 'Millions', 'USD')
(116, 103.0, 460.5, 'Millions', 'USD')
(117, 200.0, 2202.0, 'Millions', 'USD')
(118, 3.18, 3.3, 'Millions', 'USD')
(119, 237.0, 2847.0, 'Millions', 'USD')
(120, 7.2, 291.0, 'Millions', 'USD')

In [45]:
cursor=conn.execute('''select * from actors;''')
for row in cursor:
  print(row)

(50, 'Yash', 1986)
(51, 'Sanjay Dutt', 1959)
(52, 'Benedict Cumberbatch', 1976)
(53, 'Elizabeth Olsen', 1989)
(54, 'Chris Hemsworth', 1983)
(55, 'Natalie Portman', 1981)
(56, 'Tom Hiddleston', 1981)
(57, 'Amitabh Bachchan', 1942)
(58, 'Jaya Bachchan', 1948)
(59, 'Shah Rukh Khan', 1965)
(60, 'Kajol', 1974)
(61, 'Aamir Khan', 1965)
(62, 'R. Madhavan', 1970)
(63, 'Sharman Joshi', 1979)
(64, 'Hrithik Roshan', 1974)
(65, 'Ranveer Singh', 1985)
(66, 'Deepika Padukone', 1986)
(67, 'Tim Robbins', 1958)
(68, 'Morgan Freeman', 1937)
(69, 'Leonardo DiCaprio', 1974)
(70, 'Ken Watanabe', 1959)

In [46]:
cursor=conn.execute('''select * from movie_actor;''')
for row in cursor:
  print(row)

(101, 50)
(101, 51)
(102, 52)
(102, 53)
(103, 54)
(103, 55)
(103, 56)
(104, 54)
(104, 56)
(105, 54)
(105, 55)
(106, 57)
(106, 58)
(107, 59)
(107, 60)
(108, 61)
(108, 62)
(108, 63)
(109, 59)
(109, 57)
(109, 64)
(110, 65)
(110, 66)
(111, 67)
(111, 68)
(112, 69)
(112, 70)

In [47]:
cursor=conn.execute('''select * from languages;''')
for row in cursor:
  print(row)

(1, 'Hindi')
(2, 'Telugu')
(3, 'Kannada')
(4, 'Tamil')
(5, 'English')
(6, 'French')
(7, 'Bengali')
(8, 'Gujarati')

**GPT3 MODEL**

In [48]:
!pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.26.5.tar.gz (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.5/55.5 KB 6.7 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: aiohttp in /usr/local/lib/python3.8/dist-packages (from openai) (3.8.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from openai) (4.64.1)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.8/dist-packages (from openai) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.3.1)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (3.0.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (22.2.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.8.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (4.0.2)
Building wheels for collected packages: openai
  Building wheel for openai (pyproject.toml) ... done
  Created wheel for openai: filename=openai-0.26.5-py3-none-any.whl size=67620 sha256=8d01f8a5d0f8746b545800f14f7f7a6b7fa67592a34f28558f98345eea595b38
  Stored in directory: /root/.cache/pip/wheels/a7/47/99/8273a59fbd59c303e8ff175416d5c1c9c03a2e83ebf7525a99
Successfully built openai
Installing collected packages: openai
Successfully installed openai-0.26.5

In [49]:
import json
import openai

In [50]:
openai.api_key = "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"

In [51]:
from gpt import GPT
from gpt import Example

In [52]:
gpt = GPT(engine="davinci",temperature=0.5,max_tokens=100) #creating instance

gpt.add_example(Example('Fetch unique values of DEPARTMENT from Worker table.', 
                        'Select distinct DEPARTMENT from Worker;'))

**TRAINING**

**1) SELECT**

In [53]:
gpt.add_example(Example('show name and birth year of all actors who were born after 1980 ', '''SELECT name, birth_year
FROM actors
WHERE birth_year > 1980;
'''))

In [59]:
gpt.add_example(Example('show title and corresponding industry', 'Select title,industry from movies;'))

**2) WHERE CLAUSE**

In [60]:
gpt.add_example(Example(" show all movies from kollywood industry",  '''select * from movies where industry="kollywood"   '''))

In [64]:
gpt.add_example(Example("show the total number of bollywood movies ",  '''select count(*) from movies where industry="Bollywood";   '''))

In [65]:
gpt.add_example(Example("display movies released in 2022",  '''  SELECT title, industry, release_year FROM movies WHERE release_year = 2022;'''))

In [66]:
gpt.add_example(Example("show the budget and revenue for the movie with movie_id = 107 ",  '''  SELECT budget, revenue
FROM financials
WHERE movie_id = 107;
 '''))

In [67]:
gpt.add_example(Example("display  title and imdb rating for all movies produced by Marvel Studios ",  '''   SELECT title, imdb_rating
FROM movies
WHERE studio = 'Marvel Studios';
'''))

**3) DISTINCT CLAUSE**

In [68]:
gpt.add_example(Example("show all diffrent movie industry ", " SELECT DISTINCT industry FROM movies;"))

In [70]:
gpt.add_example(Example("list of all unique actor birth years" , "SELECT DISTINCT birth_year FROM actors;"))

In [71]:
gpt.add_example(Example(" list of all unique language names", '''SELECT DISTINCT name
FROM languages;
 '''))

**4) WILD CARD SEARCH- LIKE**

In [72]:
gpt.add_example(Example("show all movies with titles ending in the word the", ''' SELECT *
FROM movies
WHERE title LIKE '%the';
'''))

In [74]:
gpt.add_example(Example("show all languages with names containing the letter i in it", '''SELECT *
FROM languages
WHERE name LIKE '%i%';
 '''))

In [75]:
gpt.add_example(Example("show all movies that have america in title  ", " SELECT * FROM movies WHERE title LIKE '%America';"))

In [76]:
gpt.add_example(Example(" Retrieve all thor movies", '''SELECT * FROM movies WHERE title LIKE "%THOR%"; '''))

**5) NULL VALUES**

In [77]:
gpt.add_example(Example("Retrieve all movies that has no studio name ", ''' SELECT * FROM movies WHERE studio = "";'''))

In [79]:
gpt.add_example(Example("show all movies that dont have imdb ratings ", ''' SELECT *
FROM movies
WHERE imdb_rating IS NULL;
'''))

In [78]:
gpt.add_example(Example("show movies that dont have a budget ", ''' SELECT *
FROM financials
WHERE budget IS NULL;'''))

In [80]:
gpt.add_example(Example(" show  actors with missing birth year information", ''' SELECT *
FROM actors
WHERE birth_year IS NULL;
'''))

**6) AND OR IN BETWEEN OPERATORS**

In [81]:
gpt.add_example(Example(" show all movies released between 1994 and 2022, with an imdb rating greater than 8.0", '''SELECT *
FROM movies
WHERE release_year BETWEEN 1994 AND 2022
  AND imdb_rating > 8.0;
 '''))

In [82]:
gpt.add_example(Example("show  all movies with titles containing the words star or galaxy, produced by either Universal Studios or Warner Bros ", '''SELECT *
FROM movies
WHERE (title LIKE '%star%' OR title LIKE '%galaxy%')
  AND (studio = 'Universal Studios' OR studio = 'Warner Bros');
 '''))

In [83]:
gpt.add_example(Example("show  all movies produced in English or Tamil, with an imdb rating greater than 7.0 ", ''' SELECT *
FROM movies
WHERE (language_id IN (1, 2) AND imdb_rating > 7.0);
'''))

In [85]:
gpt.add_example(Example(" show all movies with rating less than 5 ", " SELECT * FROM movies WHERE imdb_rating <=5 ;"))

In [87]:
gpt.add_example(Example("show all movies relased in 2019,2018 and2022 ",  '''select * from movies where release_year IN(2022,2019,2018) ;  '''))

**7) ORDER BY**

In [90]:
gpt.add_example(Example("display all movies sorted by release year ",  '''  SELECT *
FROM movies
ORDER BY release_year ASC;
 '''))

In [91]:
gpt.add_example(Example(" show all actors sorted by their name" ,  '''SELECT *
FROM actors
ORDER BY name DESC;
   '''))

In [92]:
gpt.add_example(Example(" show top movies by imdb rating and then by release year ",  '''  SELECT *
FROM movies
ORDER BY imdb_rating DESC, release_year ASC;
 '''))

In [93]:
gpt.add_example(Example(" show bolloywood movies with high to low rating",  ''' select * from movies where industry="bollywood" order by imdb_rating DESC;  '''))

In [94]:
gpt.add_example(Example("sort languages in order ", '''SELECT *
FROM languages
ORDER BY name ASC;
'''))

**8) LIMIT**

In [95]:
gpt.add_example(Example("show me top 5 bollywood movies  ", ''' select * from movies where industry="bollywood" order by imdb_rating DESC LIMIT 5;'''))

In [96]:
gpt.add_example(Example("show top 10 highest-rated movies",  '''  SELECT *
FROM movies
ORDER BY imdb_rating DESC
LIMIT 10;
 '''))

In [97]:
gpt.add_example(Example("Retrieve the 5 oldest movies ",  '''  SELECT *
FROM movies
ORDER BY release_year ASC
LIMIT 5;
 '''))

In [98]:
gpt.add_example(Example(" first 10 movies produced by either Universal Studios or Warner Bros ",  ''' SELECT *
FROM movies
WHERE studio = 'Universal Studios' OR studio = 'Warner Bros'
ORDER BY release_year ASC
LIMIT 10;
  '''))

**9) OFFSET**

In [99]:
gpt.add_example(Example("Retrieve the 5 oldest movies, starting from the 6th oldest movie ",  '''  SELECT *
FROM movies
ORDER BY release_year ASC
LIMIT 5 OFFSET 5;
 '''))

**10) MIN MAX AVG TOP SUM ALIAS**

In [107]:
gpt.add_example(Example("display total budget and revenue for all movie ",  '''   SELECT SUM(budget) AS total_budget, SUM(revenue) AS total_revenue
FROM financials;
'''))

In [106]:
gpt.add_example(Example("what is average IMDb rating for movies released in the year 2000 or later ",  ''' SELECT AVG(imdb_rating) AS avg_rating
FROM movies
WHERE release_year >= 2000;
  '''))

In [110]:
gpt.add_example(Example("show oldest and newest release year for movies ",  ''' SELECT MIN(release_year) AS oldest_year, MAX(release_year) AS newest_year
FROM movies;
  '''))

In [108]:
gpt.add_example(Example(" movie with the highest IMDb rating",  ''' SELECT TOP 1 title, imdb_rating
FROM movies
ORDER BY imdb_rating DESC;
  '''))

In [112]:
 gpt.add_example(Example(" find the total number of actors",  ''' SELECT COUNT(*) AS total_actors
FROM actors;  '''))

**11) GROUP BY**

In [115]:
gpt.add_example(Example("show  total revenue generated by each industry ",  '''SELECT industry, SUM(revenue) AS total_revenue
FROM movies
JOIN financials ON movies.movie_id = financials.movie_id
GROUP BY industry;
   '''))

In [116]:
gpt.add_example(Example("show count of movies released each year ",  '''  SELECT release_year, COUNT(*) AS movie_count
FROM movies
GROUP BY release_year;
 '''))

In [118]:
gpt.add_example(Example("what is  average IMDb rating for each language ",  '''  SELECT languages.name, AVG(imdb_rating) AS avg_rating
FROM movies
JOIN languages ON movies.language_id = languages.language_id
GROUP BY languages.name; '''))

**12) JOINS- INNER,LEFT,RIGHT,FULL, CROSS**

In [122]:
gpt.add_example(Example(" show all movies and their corresponding financial data",  '''  SELECT movies.title, financials.budget, financials.revenue
FROM movies
LEFT JOIN financials ON movies.movie_id = financials.movie_id;
 '''))

In [121]:
gpt.add_example(Example(" display  title actor name and birth year",  ''' SELECT movies.title, actors.name, actors.birth_year
FROM movies
INNER JOIN movie_actor ON movies.movie_id = movie_actor.movie_id
INNER JOIN actors ON movie_actor.actor_id = actors.actor_id;
  '''))

In [123]:
gpt.add_example(Example(" show  all actors and the movies they appeared in",  '''  SELECT actors.name, movies.title
FROM actors
LEFT JOIN movie_actor ON actors.actor_id = movie_actor.actor_id
LEFT JOIN movies ON movie_actor.movie_id = movies.movie_id;
 '''))

In [125]:
gpt.add_example(Example("all actors and the movies they appeared in, including actors with no movie data ",  ''' SELECT actors.name, movies.title
FROM actors
LEFT JOIN movie_actor ON actors.actor_id = movie_actor.actor_id
LEFT JOIN movies ON movie_actor.movie_id = movies.movie_id
UNION
SELECT actors.name, NULL
FROM actors
WHERE actors.actor_id NOT IN (SELECT actor_id FROM movie_actor);
  '''))

In [126]:
gpt.add_example(Example("Retrieve all combinations of movies and actors ",  ''' SELECT movies.title, actors.name
FROM movies
CROSS JOIN actors;
  '''))

In [127]:
gpt.add_example(Example("Retrieve all combinations of movies and languages ",  '''  SELECT movies.title, languages.name
FROM movies
CROSS JOIN languages;
 '''))

**13) CASE STATEMENT**

In [128]:
gpt.add_example(Example(" check blockbuster movies that has revune greater than 2000",  '''   SELECT title, revenue,
CASE
  WHEN revenue >2000 THEN 'Blockbuster'
  ELSE 'Not a blockbuster'
END AS revenue_category
FROM financials
LEFT JOIN movies ON financials.movie_id = movies.movie_id;
'''))

In [130]:
gpt.add_example(Example("check whether an actor is over 50 years old or not ",  ''' SELECT name, birth_year,
CASE
  WHEN birth_year <= 1971 THEN 'Over 50'
  ELSE 'Under 50'
END AS age_category
FROM actors;
  '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

In [ ]:
gpt.add_example(Example(" ",  '''   '''))

**TESTING**

Students table has - Student_id(primarykey),first_name,last_name,email

courses table has - course_id(primary key),course_name,instructor_name

enrollment table has - enrollment_id(primary key) ,Student_id (foreign key),course_id ( foreign key)

grades table has - grade_id(primary key) ,enrollment_id(foreign key),grade

In [88]:
prompt="show all movies relased in 2019 and 2022 "

In [89]:
print(gpt.get_top_reply(prompt))

output: select * from movies where release_year IN(2022,2019)

In [55]:
prompt=" show actors before 1989"

In [56]:
print(gpt.get_top_reply(prompt))

output: SELECT * FROM actors WHERE birth_year < 1989;

In [135]:
prompt="movie with lowest revenue"

In [136]:
print(gpt.get_top_reply(prompt))

InvalidRequestError: ignored

In [ ]:
prompt=" "

In [ ]:
print(gpt.get_top_reply(prompt))

In [ ]:
prompt=" "

In [ ]:
print(gpt.get_top_reply(prompt))

In [ ]:
prompt=" "

In [ ]:
print(gpt.get_top_reply(prompt))

In [ ]:
prompt=" "

In [ ]:
print(gpt.get_top_reply(prompt))

In [ ]:
prompt=" "

In [ ]:
print(gpt.get_top_reply(prompt))

In [54]:
cursor=conn.execute('''   SELECT name, birth_year FROM actors WHERE birth_year > 1980;
            ''')
for row in cursor:
  print(row)

('Yash', 1986)
('Elizabeth Olsen', 1989)
('Chris Hemsworth', 1983)
('Natalie Portman', 1981)
('Tom Hiddleston', 1981)
('Ranveer Singh', 1985)
('Deepika Padukone', 1986)

In [84]:
cursor=conn.execute('''   SELECT *
FROM movies
WHERE (language_id IN (1, 2) AND imdb_rating > 7.0);
              ''')
for row in cursor:
  print(row)

(106, 'Sholay', 'Bollywood', 1975, 8.1, 'United Producers', 1)
(107, 'Dilwale Dulhania Le Jayenge', 'Bollywood', 1995, 8.0, 'Yash Raj Films', 1)
(108, '3 Idiots', 'Bollywood', 2009, 8.4, 'Vinod Chopra Films', 1)
(109, 'Kabhi Khushi Kabhie Gham', 'Bollywood', 2001, 7.4, 'Dharma Productions', 1)
(110, 'Bajirao Mastani', 'Bollywood', 2015, 7.2, None, 1)

In [105]:
cursor=conn.execute('''SELECT SUM(budget) AS total_budget, SUM(revenue) AS total_revenue
FROM financials;

 ''')
for row in cursor:
  print(row)

(3137.7799999999997, 17750.899999999998)

In [109]:
cursor=conn.execute('''SELECT AVG(imdb_rating) AS avg_rating
FROM movies
WHERE release_year >= 2000;

 ''')
for row in cursor:
  print(row)

(7.815384615384615,)

In [111]:
cursor=conn.execute('''SELECT MIN(release_year) AS oldest_year, MAX(release_year) AS newest_year
FROM movies;
 ''')
for row in cursor:
  print(row)

(1946, 2022)

In [113]:
cursor=conn.execute('''SELECT COUNT(*) AS total_actors
FROM actors;
 ''')
for row in cursor:
  print(row)

(21,)

In [114]:
cursor=conn.execute('''SELECT industry, SUM(revenue) AS total_revenue
FROM movies
JOIN financials ON movies.movie_id = financials.movie_id
GROUP BY industry;

 ''')
for row in cursor:
  print(row)

('Bollywood', 7376.0)
('Hollywood', 10009.6)

In [117]:
cursor=conn.execute('''SELECT release_year, COUNT(*) AS movie_count
FROM movies
GROUP BY release_year;

 ''')
for row in cursor:
  print(row)

(1946, 1)
(1972, 1)
(1975, 1)
(1994, 1)
(1995, 1)
(1997, 1)
(2000, 1)
(2001, 1)
(2006, 1)
(2009, 2)
(2010, 1)
(2013, 1)
(2014, 1)
(2015, 1)
(2017, 1)
(2022, 3)

In [119]:
cursor=conn.execute('''SELECT languages.name, AVG(imdb_rating) AS avg_rating
FROM movies
JOIN languages ON movies.language_id = languages.language_id
GROUP BY languages.name;

 ''')
for row in cursor:
  print(row)

('English', 8.092307692307694)
('Hindi', 7.82)
('Kannada', 8.4)

In [120]:
cursor=conn.execute('''SELECT movies.title, actors.name, actors.birth_year
FROM movies
INNER JOIN movie_actor ON movies.movie_id = movie_actor.movie_id
INNER JOIN actors ON movie_actor.actor_id = actors.actor_id;

 ''')
for row in cursor:
  print(row)

('K.G.F: Chapter 2', 'Yash', 1986)
('K.G.F: Chapter 2', 'Sanjay Dutt', 1959)
('Doctor Strange in the Multiverse of Madness', 'Benedict Cumberbatch', 1976)
('Doctor Strange in the Multiverse of Madness', 'Elizabeth Olsen', 1989)
('Thor: The Dark World', 'Chris Hemsworth', 1983)
('Thor: The Dark World', 'Natalie Portman', 1981)
('Thor: The Dark World', 'Tom Hiddleston', 1981)
('Thor: Ragnarok', 'Chris Hemsworth', 1983)
('Thor: Ragnarok', 'Tom Hiddleston', 1981)
('Thor: Love and Thunder', 'Chris Hemsworth', 1983)
('Thor: Love and Thunder', 'Natalie Portman', 1981)
('Sholay', 'Amitabh Bachchan', 1942)
('Sholay', 'Jaya Bachchan', 1948)
('Dilwale Dulhania Le Jayenge', 'Shah Rukh Khan', 1965)
('Dilwale Dulhania Le Jayenge', 'Kajol', 1974)
('3 Idiots', 'Aamir Khan', 1965)
('3 Idiots', 'R. Madhavan', 1970)
('3 Idiots', 'Sharman Joshi', 1979)
('Kabhi Khushi Kabhie Gham', 'Shah Rukh Khan', 1965)
('Kabhi Khushi Kabhie Gham', 'Amitabh Bachchan', 1942)
('Kabhi Khushi Kabhie Gham', 'Hrithik Roshan', 1974)
('Bajirao Mastani', 'Ranveer Singh', 1985)
('Bajirao Mastani', 'Deepika Padukone', 1986)
('The Shawshank Redemption', 'Tim Robbins', 1958)
('The Shawshank Redemption', 'Morgan Freeman', 1937)
('Inception', 'Leonardo DiCaprio', 1974)
('Inception', 'Ken Watanabe', 1959)

In [124]:
cursor=conn.execute('''SELECT actors.name, movies.title
FROM actors
LEFT JOIN movie_actor ON actors.actor_id = movie_actor.actor_id
LEFT JOIN movies ON movie_actor.movie_id = movies.movie_id;

 ''')
for row in cursor:
  print(row)

('Yash', 'K.G.F: Chapter 2')
('Sanjay Dutt', 'K.G.F: Chapter 2')
('Benedict Cumberbatch', 'Doctor Strange in the Multiverse of Madness')
('Elizabeth Olsen', 'Doctor Strange in the Multiverse of Madness')
('Chris Hemsworth', 'Thor: The Dark World')
('Chris Hemsworth', 'Thor: Ragnarok')
('Chris Hemsworth', 'Thor: Love and Thunder')
('Natalie Portman', 'Thor: The Dark World')
('Natalie Portman', 'Thor: Love and Thunder')
('Tom Hiddleston', 'Thor: The Dark World')
('Tom Hiddleston', 'Thor: Ragnarok')
('Amitabh Bachchan', 'Sholay')
('Amitabh Bachchan', 'Kabhi Khushi Kabhie Gham')
('Jaya Bachchan', 'Sholay')
('Shah Rukh Khan', 'Dilwale Dulhania Le Jayenge')
('Shah Rukh Khan', 'Kabhi Khushi Kabhie Gham')
('Kajol', 'Dilwale Dulhania Le Jayenge')
('Aamir Khan', '3 Idiots')
('R. Madhavan', '3 Idiots')
('Sharman Joshi', '3 Idiots')
('Hrithik Roshan', 'Kabhi Khushi Kabhie Gham')
('Ranveer Singh', 'Bajirao Mastani')
('Deepika Padukone', 'Bajirao Mastani')
('Tim Robbins', 'The Shawshank Redemption')
('Morgan Freeman', 'The Shawshank Redemption')
('Leonardo DiCaprio', 'Inception')
('Ken Watanabe', 'Inception')

In [129]:
cursor=conn.execute('''SELECT title, revenue,
CASE
  WHEN revenue >2000 THEN 'Blockbuster'
  ELSE 'Not a blockbuster'
END AS revenue_category
FROM financials
LEFT JOIN movies ON financials.movie_id = movies.movie_id;
 ''')
for row in cursor:
  print(row)

('K.G.F: Chapter 2', 12.5, 'Not a blockbuster')
('Doctor Strange in the Multiverse of Madness', 954.8, 'Not a blockbuster')
('Thor: The Dark World', 644.8, 'Not a blockbuster')
('Thor: Ragnarok', 854.0, 'Not a blockbuster')
('Thor: Love and Thunder', 670.0, 'Not a blockbuster')
('Dilwale Dulhania Le Jayenge', 2000.0, 'Not a blockbuster')
('3 Idiots', 4000.0, 'Blockbuster')
('Kabhi Khushi Kabhie Gham', 1360.0, 'Not a blockbuster')
('Bajirao Mastani', 3.5, 'Not a blockbuster')
('The Shawshank Redemption', 73.3, 'Not a blockbuster')
('Interstellar', 701.8, 'Not a blockbuster')
(None, 365.3, 'Not a blockbuster')
('The Pursuit of Happyness', 307.1, 'Not a blockbuster')
('Gladiator', 460.5, 'Not a blockbuster')
('Titanic', 2202.0, 'Blockbuster')
("It's a Wonderful Life", 3.3, 'Not a blockbuster')
('Avatar', 2847.0, 'Blockbuster')
('The Godfather', 291.0, 'Not a blockbuster')

In [ ]:
cursor=conn.execute('''
 ''')
for row in cursor:
  print(row)

In [ ]:
cursor=conn.execute('''
 ''')
for row in cursor:
  print(row)