<a href="https://colab.research.google.com/github/vigneshlakshh/vigneshlakshh/blob/main/pythonv2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PRINT**

In [1]:
print("Hello'world")

Hello'world

In [2]:
print('welcome to machine learning course')

welcome to machine learning course

In [5]:
print("ML"+ " AI"+" Deep learning")

ML AI Deep learning

In [6]:
print(88)

88

In [7]:
print(20*2)

40

**DATA TYPES int,float,string,complex,boolean**

In [9]:
8
print(type(8))

<class 'int'>

In [10]:
77.20
print(type(77.20))

<class 'float'>

In [11]:
print(type("Vignesh"))

<class 'str'>

In [36]:
print("hello\n"*5)

hello
hello
hello
hello
hello

In [46]:
a=("vignesh")
print(a[0])
print(a[0:4])
print(a[0:5:2])
print(a[:])
print(a[:4])
print(a[4:])
print(a[-1])
print(a[-2])

v
vign
vge
vignesh
vign
esh
h
s

In [47]:
w1="Machine"
w2="learing"
print(w1+w2)

Machinelearing

In [30]:
c=1+3j
print(c)
type(c)

(1+3j)

complex

In [32]:
a=True
b=False
type(a)
type(b)

bool

In [34]:
a=7<3
print(a)
type(a)

False

bool

**constant and variables**

In [13]:
a="vignesh"
a

'vignesh'

In [16]:
a,b=1,2
print(a,b)
print(b)
print(a)

1 2
2
1

In [18]:
a=b=c=9566
print(a)
print(b)
print(c)

9566
9566
9566

**Input function**

In [22]:
a=input("enter one no ")  #NOTE IT ASSUMES IT AS STRING
b=input("eneter another no ")
sum=a+b
print(sum)

enter one no 23
eneter another no 7
237

In [23]:
a=int(input("enter one no "))  ##to make addition
b=int(input("eneter another no "))
sum=a+b
print(sum)

enter one no 23
eneter another no 7
30

In [28]:
a=7
print(a)
print(type(a))
print(float(a))
print(type(float(a)))

7
<class 'int'>
7.0
<class 'float'>

**Special Data Types -List,tuple,set,Dictonary**

MUTABLE OBJ-values can changed
list,set,dict

IMUTABLE OBJ-values cannot be changed once created
int,float,str,bool,tuple

LIST ARE MUTABLE

In [48]:
my_lis=[1,2,3,4,5]
print(my_lis)
type(my_lis)

[1, 2, 3, 4, 5]

list

In [49]:
my_lis=['a','b','c','d']
print(my_lis)
type(my_lis)

['a', 'b', 'c', 'd']

list

In [51]:
my_lis=[1,2.0,'a','d',"vignesh"]  #can have multiple data types

print(my_lis)
type(my_lis)

[1, 2.0, 'a', 'd', 'vignesh']

list

In [67]:
my_lis=[1,2.0,'a','d',"vignesh"] 
print(my_lis)
my_lis.append(6)
print(my_lis)
my_lis.append("sai krish")
print(my_lis)
type(my_lis)
print(my_lis[0])
print(my_lis[2])
print(my_lis[2:7])

[1, 2.0, 'a', 'd', 'vignesh']
[1, 2.0, 'a', 'd', 'vignesh', 6]
[1, 2.0, 'a', 'd', 'vignesh', 6, 'sai krish']
1
a
['a', 'd', 'vignesh', 6, 'sai krish']

In [66]:
lis1=[1,2,3]
lis2=[1,1,1]
lis3=[]
print(lis3)
lis3=lis1+lis2
print(lis3)
print(len(lis3))
lis3.append(7)
print(lis3)
del lis3[4]
print(lis3)

[]
[1, 2, 3, 1, 1, 1]
6
[1, 2, 3, 1, 1, 1, 7]
[1, 2, 3, 1, 1, 7]

TUPLE-similar to list but immutable
can have multiple datatypes in same tuple

.append wont work here

In [71]:
tup1=(1,2,3,4)
print(type(tup1))
tup1
tup2=(1,2,77.2,"vignesh","sai",False)
print(type(tup2))

<class 'tuple'>
<class 'tuple'>

**convert list to tuple**

In [76]:
lis=[1,2,4,5,5,6,7,9]
print(lis)
print(type(lis))

tup=tuple(lis)
print(tup)
print(type(tup))

#indexing
print(tup[0])
print(tup[-2])


#tup.append(6) will get attribute error as they are immutable

print(len(tup))

[1, 2, 4, 5, 5, 6, 7, 9]
<class 'list'>
(1, 2, 4, 5, 5, 6, 7, 9)
<class 'tuple'>
1
7
8

**SETS**

INDEXING WONT WORK
DOESNT ALLOW DUPLICATE VALUES

In [79]:
s={1,2,3,4,5,6,7,8}
print(s)
print(type(s))
#print(s[3]) #TypeError: 'set' object is not subscriptable

{1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>

**COnvert list to a set**

In [80]:
lis=[1,2,3,4,5,6]
print(lis)
print(type(lis))

se=set(lis)
print(se)
print(type(se))

[1, 2, 3, 4, 5, 6]
<class 'list'>
{1, 2, 3, 4, 5, 6}
<class 'set'>

**NO DUPLICATE ALLOWED IN SET**

In [81]:
lis=[1,2,3,4,5,6,6,6,7,7,7,7]
print(lis)
print(type(lis))

se=set(lis)
print(se)
print(type(se))

[1, 2, 3, 4, 5, 6, 6, 6, 7, 7, 7, 7]
<class 'list'>
{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

**DICTIONARY NO DUPLICATE ALLOWED**

In [89]:
#dic={1:"vignesh",2:"juju",3:"jaya",a:"bhu",b:"SLN",c:"123",d:123,e:27.70,4:"1"}

dic={1:"vignesh",2:"juju",3:"jaya"}
print(dic)
print(type(dic))

dc2={1:"vignesh",2:"juju",3:"jaya",4:"bhu",5:"SLN",6:"123",7:1}
print(dc2)
print(type(dc2))

{1: 'vignesh', 2: 'juju', 3: 'jaya'}
<class 'dict'>
{1: 'vignesh', 2: 'juju', 3: 'jaya', 4: 'bhu', 5: 'SLN', 6: '123', 7: 1}
<class 'dict'>

In [103]:
dic={"name":"vicky","age":23,"country":"Ind",1:9566200}
print(type(dic))
print(len(dic))
print(dic["name"])
print(dic["age"])
print(dic[1])
print(dic[1])
#dic.append("sex":"m")

<class 'dict'>
4
vicky
23
9566200
9566200

In [105]:
dic={"name":"vicky","age":23,"country":"Ind","name":"vicky","age":23,"country":"Ind"}
print(dic)

{'name': 'vicky', 'age': 23, 'country': 'Ind'}

**OPERATORS**

In [116]:
#arthmetic operator
num1=20
num2=10
num3=num1+num2 #add
print("sum=",num3)
num3=num1-num2 #sub
print("diff=",num3)
num3=num1*num2 #multiply
print("mul=",num3)
num3=num1/num2 #divison-gives qoutient
print("div=",num3)
num3=num1**num2 #exponent 20^10
print("exp=",num3)
num3=num1%num2 #modulo-gives remainder
print("mod=",num3)

sum= 30
diff= 10
mul= 200
div= 2.0
exp= 10240000000000
mod= 0

In [117]:
#assignment operators
a=5
print(a)

5

In [118]:
a=5
a+=5   # equivalent of writing a=a+5
print(a)

10

In [119]:
b=10
b-=2 #b=b-2
print(b)

8

In [124]:
#COMPARISON OPERATORS #gives boolean values

a=5
b=10

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [129]:
#Logical operators

a=10
print(a>20 and a<5)
print(a>20 or a>5)
print(not(a>20 or a>5))

False
True
False

In [130]:
#identity operator

x=5
y=5
print(x is y)

True

In [131]:
x=5
y=10
print(x is y)

False

In [133]:
x=5
y=5
print(x is not y)
#x is same as y and converts

False

In [134]:
#membership operator
#in #notin

a=5
b=10
c=[1,2,3,4,5]
print(a in c)
print(b in c)

True
False

In [135]:
a=5
b=10
c=[1,2,3,4,5]
print(a not in c)
print(b not in c)

False
True

**IF STATEMENT**

In [136]:
a=30
b=50
if a>b:
  print("a is greatest")
else:
  print("b is great")

b is great

In [138]:
a=int(input("enter first no "))
b=int(input("enter second no "))
if a>b:
  print("a is greatest")
else:
  print("b is great")

enter first no 100
enter second no 200
b is great

In [139]:
a=int(input("enter first no "))
b=int(input("enter second no "))
if a>b:
  print("a is greatest")
else:
  print("b is great")

enter first no 100
enter second no 100
b is great

In [141]:
a=int(input("enter first no "))
b=int(input("enter second no "))
if a>b:
  print("a is greatest")
elif b>a:
  print("b is great")
else:
  print("both are equal")

enter first no 100
enter second no 100
both are equal

In [142]:
a=int(input("enter first no "))
b=int(input("enter second no "))
if a>b:
  print("a is greatest")
elif b>a:
  print("b is great")
else:
  print("both are equal")

enter first no 500
enter second no 200
a is greatest

In [144]:
a,b,c=10,20,30
if a>(b and c):
  print("a is big")
elif b>(a and c):
  print("b is big")
else:
  print("c is big")

c is big

**NESTED IF**

In [147]:
a,b,c=22,20,30
if(a>b):
  if(a>c):
    print("a is great")
  else:
    print("c is big")
else:
  if(b>c):
    print("b is great")

c is big

In [149]:
a,b,c=22,47,30
if(a>b):
  if(a>c):
    print("a is great")
  else:
    print("c is big")
else:
  if(b>c):
    print("b is great")
  else:
    print("c is great")

b is great

**LOOPS**

**FOr LOOp -we have to mention how many times we need to run the code**

In [151]:
#enter price of five bats

b1=int(input("enter price of bat "))
b2=int(input("enter price of bat "))
b3=int(input("enter price of bat "))
b4=int(input("enter price of bat "))
b5=int(input("enter price of bat 6"))

enter price of bat 20
enter price of bat 30
enter price of bat 40
enter price of bat 50
enter price of bat 0

In [152]:
for i in range(5):    #0,1,2,3,4
  b1=int(input("enter price of bat "))

enter price of bat 10
enter price of bat 20
enter price of bat 30
enter price of bat 40
enter price of bat 50

In [153]:
lis=[50,10,1,2,3,4]
print(lis[0])
print(lis[1])
print(lis[2])
print(lis[3])
print(lis[4])
print(lis[5])

50
10
1
2
3
4

In [154]:
lis=[50,10,1,2,3,4]
for i in lis:
  print(i)

50
10
1
2
3
4

**WHile LOOP** - **we might not be sure how many times we need to run the code use while loop in that case**

In [156]:
#will run infinte times if you dont mention i+=1

i=0
while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

In [158]:
i=11         #nothing will happen as 11>10
while i<10:
  print(i)
  i+=1

**FUNCTIONS** -**code can be reused**

In [159]:
#factotrial of a number
#fact of 5 =5*4*3*2*1=120

In [171]:
num=int(input("enter a number "))
fact=1
if num==0:
  print("fact of 0 is", 1)
else:
  for i in range(1,num+1): #range(1,6) includes 1 and excludes 6 i.e, 1,2,3,4,5
    fact=fact*i
  print("the fact of the" ,num, "is",fact )

enter a number 5
the fact of the 5 is 120

In [185]:
def fac(num):
  fact=1
  if num==0:
    return fact
  else:
    for i in range(1,num+1):
      fact=fact*i
    return fact

In [182]:
fac(5)

120

In [183]:
fac(10)

3628800

In [186]:
fac(0)

1

**if __name__ == "__main__":**

In [195]:
def cal(b,h):
  area=0.5*b*h
  return area
if __name__== "__main__":     #acts as entry point like void main  __name__==__main__ if in same file
  a=cal(5,10)                 #else __name__ ==the file it calls from
  print("area is ",a)

area is  25.0

**Classes**

HUMAN-name, gender, occupation  (properties)

ACTIVITY-speak,work,sleep  (methods)

CLASS= Properties+methods

ObJECTS: Specific instance of a class

Eg Class-Human

  properties-vignesh,Male,player
  
  methods-tamil,IT

**varibles+function= object**

Objects are an encapsulation of variables and functions into a single entity
Objects get their variables and functions from classes. Classes are essentially a template to create your objects.

In [187]:
class human:
  def__init__(self,n,o):                      #special function initialise the property of particular class
    self.name=n
    self.occu=g
  def work(self):
    if self.occu=="cricket":
      print(self)